{% extends "GmailAccountLogBundle::base.html.twig" %}

{% block body %}

<h3 class="logEntries">Recent Log Entries</h3>

{% include "GmailAccountLogBundle:Default:entries-table.html.twig" %}

{% endblock %}